.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500&display=swap');
.text {
  color: white;
  font-family: kanit; 
  font-weight: 300;
}
.menu {
  color: black;
  font-family: kanit; 
  font-weight: 300;
  font-size: 1.15em;
  padding-top: 0.5em;
}
.btext {
  color: black; 
  font-family: kanit;
  font-weight: 500;
}
.spaceText {
  margin-top: 0.4em;
}
.text2 {
  color: black; 
  font-family: kanit;
  font-weight: 300;
}
#nav {
  border-top: 0.3em solid #000000;
  border-bottom: 0.3em solid rgb(253, 253, 253);
}
.text-link :hover { 
  padding-bottom: 0.3em;
  border-bottom: 0.15em solid rgb(0, 0, 0);
  background-color: rgba(255, 184, 92, 0.521);
}
.text-link {
  padding-bottom: 0.3em;
  text-decoration: none;
}
.box {
  width: 27%; 
  text-align: left; 
  border-style: solid; 
  margin: 0.6em; 
  padding: 1.5em;
}
.box2 {
  text-align: left; 
  border-style: solid; 
  border-color: rgb(66, 66, 66);
  padding: 2em;
  height: 14.6em;
}
.WhiteSpace {
  margin-top: 3em;
}
.topic {
  text-align: center; 
  font-size: 2.5em;
  font-weight: 500;
  padding-top: 1em;
}
.descript {
  text-align: center; 
  line-height: 0.6em;
  font-weight: 300;
  padding-bottom: 2.8em;
  border-bottom: 0.15em solid rgb(0, 0, 0);
}
.crop {
  width: 100%;
  height: 45%;
  overflow: hidden;
  object-fit: cover;
}
.topBar {
  margin-left: -11.2em;
  width: 80.1em;
  height: 0.95em; 
  background-color: black;
}
.top1 {
  margin-left: 13.5em;
  display: inline-block;
  vertical-align:top;
}
.top {
  text-indent: 0.7em;
  font-size: 0.65em;
  display: inline-block;
  vertical-align:top;
}
.button1 {
  background-color: #000000;
  border: none;
  padding: 0.6em 1.5em;
  border-radius: 0.85em;
  transition-duration: 0.2s;
  cursor: pointer;
}
.button1:hover {
  background-color: #555555;
  padding: 0.6em 1.5em;
  border-radius: 0.85em;
}
.button1:focus {
  outline: none;
}
input,textarea {
  font-family: kanit;
  font-weight: 300;
  border-radius: 0.5em;
  padding: 0.2em 0.6em;
  border: 1px solid #ccc;
}
input:focus {
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}
textarea:focus {
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 120%;
  background: #fdfdfd;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #646779;
  text-align: center;
  border: 1px solid #0e151d;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

form {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #b0c4de;
  background: white;
  border-radius: 0px 0px 10px 10px;
}


.input-group {
  margin: 10px 0px 10px 0px;
}

.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}

.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5f9ea0;
  border: none;
  border-radius: 5px;
}

