.text {
    color: white;
    font-family: kanit; 
    font-weight: 300;
}
.menu {
    color: black;
    font-family: kanit; 
    font-weight: 300;
}
.btext {
    color: black; 
    font-family: kanit;
}
.text2 {
    color: black; 
    font-family: kanit;
    font-weight: 300;
}
#nav {
    border-top: 0.3em solid #000000;
    border-bottom: 0.3em solid rgb(253, 253, 253);
}
#nav div:hover { 
    border-bottom: 0.3em solid rgb(0, 0, 0);
    margin-bottom: -1em;
}
#nav a {
    text-decoration: none;
}
.button1 {
    background-color: #000000;
    border: none;
    padding: 0.7em 1.5em 0.7em 1.5em;
    border-radius: 1em;
    transition-duration: 0.2s;
    cursor: pointer;
}
.button1:hover {
    background-color: #555555;
    padding: 0.7em 1.5em 0.7em 1.5em;
    border-radius: 1em;
  }
.button1:focus {
    outline: none;
}
input {
    font-family: kanit;
    font-weight: 300;
    border-radius: 0.5em;
    padding: 0.2em 0.6em;
    border: 1px solid #ccc;
}
input:focus {
    outline: none;
    border: 1px solid rgb(0, 0, 0);
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 120%;
    background: #a54bda;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #646779;
    text-align: center;
    border: 1px solid #0e151d;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

form {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b0c4de;
    background: white;
    border-radius: 0px 0px 10px 10px;
}



.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5f9ea0;
    border: none;
    border-radius: 5px;
}

